* {
  /* Document background color and font */
  background-color: #E9E6E2;
  font-family: "Roboto", sans-serif;
}

h1 {
 color: #535E4B;
  text-align: center;
}


form {
  display: flex;
  justify-content: center;
}
/* Keeps space between label and text field consistent */ 
.form-group {
  display:flex;
  justify-content:space-between;
  gap: 10px;
  margin:5px;
}


.form-group label {
  color:#293720;
  font-weight:bold; 

}

.form-group input {
  background-color: #e8e8e8;
}

/* Displays buttons on one row with space between */
form #button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

input, button[type="submit"] {
  border-radius: 5px;
}

fieldset {
  border:none;
}

a:visited {
  color:#535E4B;
}

button {
  background-color: #e8e8e8;
}

button:hover, input:hover {
  background-color: #aeb9a7;
}

 /* remove underline from link */
a {
  text-decoration:none;
}
a:hover {
   color: #aeb9a7;
}

#invalid-registration {
  text-align: center;
  color: #dd6464;
}

/* Max width for the credential requirements */
#username-requirements, #password-requirements {
  max-width:400px;
}

fieldset {
  display: flex;
  gap:50px;
}

#credential-requirements {
    margin-top:5px;
    gap: 10px;
    display:flex;
    flex-direction:column;
    font-size: 12px;
    color:#535E4B;
}

